body{
	background-color: #F1F1F1;	
}
.patient_table tbody tr th
{
background:#43B5CB !important;
}
.patient_table tbody tr td
{
background:#FFFFFF !important;
}
.patient_table
{
   width:98% !important;
}
.patoent_table
{
   width:100% !important;
}
form{
	margin: 0;
}

select{
	width: auto;
}
.m-inner{
	background: url(../img/header_bg.png)  repeat-x top; 
	background-color: #F1F1F1 !important;
	padding: 10px 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none; height:80px;
}
.m-inner .nav > li > a{
	color: #555;
}

.m-inner .nav .active > a, .m-inner .nav .active > a:hover{
	color: white;
	background-color: #08c;
}

.m-inner .nav > li > a:hover{
	color: #08c;
	text-decoration: none;
	/*background-color: #08c;*/
}
.highlight 
{
 color: #261F1D;
    background-color: #E5C37E;
}

.m-top{
	height: 102px;
}

.m-search{
	padding: 5px 5px 5px 0px;
	margin-left: 0px;
}

.sidebar{
	width: 100px;
	float: left;
	height: 100%;
	position: fixed;
	left: 0;
	top:134px;
	background-color: #F1F1F1;
	border-right: 1px solid #E5E5E5;
}

.sidebar .nav{
	margin-bottom: 0;
	position: relative;
}

.sidebar .nav li{
	width: 100%;
}
.asterisk{ color: #FF0000 }

.sidebar .nav-tabs > li > a:hover,
.sidebar .nav-tabs > li.active > a{
	background: none;
	color: #08C !important;
}

.sidebar .nav-tabs > li.active .arrow{
	display: block !important;
}

.sidebar .nav-tabs.nav-stacked > li > a {
	position: relative;
	border: none;
	border-radius: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	text-align: center;
	font-size: 11px;
	height:57px;
	display: block;
	color: #555;
}
.sidebar .nav-tabs.nav-stacked > li.active img,
.sidebar .nav-tabs.nav-stacked > li > a:hover img{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.sidebar .nav-tabs.nav-stacked > li > a img{
	display: inline;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

.sidebar .nav-tabs.nav-stacked > li:first-child > a{
	border-radius: 0 !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;	
}

.sidebar .nav-tabs.nav-stacked > li:last-child > a{
	border-radius: 0 !important;
	-webkit-border-radius: none !important;
	-moz-border-radius: none !important;
}

.main-container{
	background-color: white;
	min-height: 500px;
	margin-left: 100px;
	border-top: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}

.m-login-container{
	background-color: white;
	margin-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.m-brand {
	text-align: center;
	width:200px;
	padding: 5px 0px 12px 10px!important;
}

.arrow{
	display: none;
}

.bubble-arrow-border{
	border-color: transparent #E5E5E5 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top: 30px;
	right: 0px;
}

.bubble-arrow{
	border-color: transparent #FFF transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top: 30px;
	right: -1px;
}

.m-fluid{
	margin: 10px 0;
}

.m-widget{
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px;
}

.m-widget-header{
	padding: 5px;
}

.m-widget-header h3	{
	border-bottom: 1px solid #E5E5E5;
	color: #333;
}

.m-widget-body{
	padding: 5px;
}

.tc{
	text-align: center !important;
}

.tl{
	text-align: left !important;
}

.tr{
	text-align: right !important;
}

.m-stats-item{
	padding: 15px;
	margin-top: 5px;
	background-color: #08C;
	color: white;
	text-decoration: none !important;
}

a.m-stats-item:hover{
	text-decoration: none;
	color: white;
}

.m-stats-val{
	display: block;
	font-size: 16pt;
	font-weight: bold;
}
/* M color set */
.m-color-1{
	color: #E5E5E5;
}
.m-color-2{
	color: #555;
}
.m-color-3{
	color: #08C;
}

.m-color-4{
	color: #5FD3B3;
}

.geo_chart{
	padding: 15px;
	height: 450px;
}

.m-sidebar-collapsed{
	display: none;
	position: fixed;
	z-index: 9999;
}

.m-sidebar-collapsed ul > li > a{
	background-color: white !important;
	text-align: center;
	color: #555;
}

.m-sidebar-collapsed ul > li > a:hover,
.m-sidebar-collapsed ul > li.active > a{
	color: #08c !important;
}

.m-sidebar-collapsed ul > li > a:hover img{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.m-sidebar-collapsed ul li img{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

.m-sidebar-collapsed ul{
	background-color: white;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.m-sidebar-collapsed .arrow-border{
	border-color: transparent #969696 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top: 30px;
	left: -19px;
}

.m-sidebar-collapsed .arrow-inner{
	border-color: transparent #FFF transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top: -10px;
	left: -10px;
}

.m-badge-notification{
	position: absolute;
	top: 5px;
	right: 20px;
	z-index: 1000;
}

.m-botton-group{
	margin-bottom: 10px
}

.m-upload-add{
	text-align: center;
}

.m-progress{
	margin-top: 5px;
	margin-bottom: 0px;
}

.m-media-container li{
	position: relative;
}

.m-media-container li:hover .m-media-action{
	display: block;	
}

.m-media-action{
	display: none;
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	text-align: center;
	background-color: #E5E5E5;
	padding: 5px 0px;
}

/*Icon set*/
.the-icons {
	margin-left: 0;
	list-style: none;
}

.m-icon {
	background: url(../img/glyphicons.png) no-repeat left top transparent;
	height: 45px;
	width: 45px;
	display: block;
}

.m-icon.upload {
	background-position: -40px -950px;
}

.m-icon.download {
	background-position: 8px -950px;
}

.m-icon.refresh {
	background-position: -85px -375px;
}

.m-icon.shuffle {
	background-position: -135px -375px;	
}

.m-icon.shopping-cart {
	background-position: -90px -950px;
}

@media (max-width: 768px){
	.sidebar{
		width: 100%;
		position: initial !important;
		margin-left: -20px;
		padding-right: 40px;
		height: 100%;
		overflow: auto;
	}

	.m-top{
		display: none;
	}

	.m-search{
		margin-left: 100px;
	}

	.sidebar .nav-tabs > li.active .arrow{
		display: none !important;
	}

	.main-container{
		margin-left: 0;
		padding: 10px;
	}

	.m-login-container{
		padding: 20px;
	}
}

@media (max-width: 979px){
	.m-top{
		display: none;
	}	

	.sidebar{
		top: 50px;
		/*position: initial;*/
	}

	.navbar .brand {
		padding-right: 10px;
		padding-left: 10px;
		margin: 0 0 0 -25px;
	}

	.navbar-fixed-top{
		margin-bottom: 0;
	}

	.m-login-container{
		padding: 20px;
	}

	.nav-collapse .nav > li > a:hover,
	.nav-collapse .dropdown-menu a:hover {
		background-color: #08c;
	}

	.nav-collapse .dropdown-menu a > i{
		margin-right: 5px;
	}

	.nav-collapse.in{
		background-color: #F1F1F1;
		z-index: 9000;
	}
}
 .bg_act{ cursor:pointer;
 }
  .bg_act td{ background:#94c9e2 !important;
 }
 
 input#submit 
{
	font-size:18px;
	background:linear-gradient(#22abe9 5%,#36caf0 100%);
	border:1px solid #0F799E;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	text-shadow:0 1px 0 #13506D
}
input#submit:hover {
background:linear-gradient(#36caf0 5%,#22abe9 100%)
}

ul.patients_rightnav #next_r_prev
{
	font-size:18px;
	background:linear-gradient(#22abe9 5%,#36caf0 100%);
	border:1px solid #0F799E;
	color:#fff;
	font-weight:700;
	cursor:pointer;
	text-shadow:0 1px 0 #13506D
}
ul.patients_rightnav #next_r_prev :hover {
background:linear-gradient(#36caf0 5%,#22abe9 100%)
}
.ed{
border-style:solid;
border-width:thin;
border-color:#00CCFF;
padding:5px;
margin-bottom: 4px;
}
#csample
{
background:#43B5CB;
}

#links_page a strong{
float: left;
color:#2591B4;
text-decoration: none;
background-color: #FFF;
border-width: 1px 1px 1px 1px;
border-style: solid;
border-color: #DDD;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
}
#links_page a:hover{background-color: grey;}
.alert-danger {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 4px;
    overflow: hidden;
}
.panel-primary {
    border-color: #428BCA;
}
.panel {
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-primary > .panel-heading {
    color: #FFF;
    background-color: #43B5CB;
    border-color: #43B5CB;
}
.panel-group .panel-heading {
    border-bottom: 0px none;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: inherit;
}
.panel-title > a {
    color: inherit;
}a {
    color: #428BCA;
    text-decoration: none;
}
.panel-primary {
    border-color: #428BCA;
}.panel-body {
    padding: 15px;
}
.row-centered {
    text-align: center;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.col-sm-6 {
    margin-right:120px;
}
.signature {
    color: #00008B;
    background-color: #F5F5F5;
    padding: 2px;
    border: 2px dotted #000;
}audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}.form-horizontal .control-label {
    text-align: right;
}
.col-sm-5 {
    width: 101.6667%;
}
.radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
}.radio-inline, .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0px;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
}.form-horizontal .control-label {
    text-align: right;
}.col-md-6 {
    width: 45%;
}label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.col-sm-7 {
    width: 58.3333%;
margin-left:-20px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #FFF;
  cursor: default;
  background-color: #43b5cb;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
/*
.container{
			width: 'auto';
			margin: 0 auto;
		}
		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}
*/

